body {
    color: #444 !important;
    font-size: 8px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 10px !important;
}

strong {
	font-weight: 700;
}

th {
    background: #EEE;
}

.spacer {
	margin-top: 40px !important; 	
}

.table-condensed > thead > tr > th {
    background: #f5f5f5;
    border-bottom: 2px solid #CCC !important;
}

.space-bottom {
    margin-bottom: 1rem !important;
}